html,body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 17px;
    color: #777777;
    background-image: url("../images/criss-cross.png");
    margin: 0px;
    height: 100%;
}

header{
    background: white;
    height: 70px;
    border-bottom: solid 2px #cccccc;
    z-index: 100;
}

.topbox { 
    width: 960px;
    height: 70px;
    margin: 0 auto;
}

h1 { 
    font-size: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4AAAA5;
}

a {
    text-decoration: none;
}


.topTitle{ 
    width: 220px;
    height: 30px;
    padding: 20px;
    background:#4AAAA5;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    float: left;
}

.links { 
    width: 300px;
    height: 16px;
    padding-top: 27px;
    padding-bottom: 27px;
    color:#4AAAA5;
    text-align: right;
    float: right;
}

.contents_container { 
    min-height: calc(100vh - 60px);
    clear: both;
}

.contents { 
    clear: both;
    width: 880px;
    background: white;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid #cccccc 1px;
    line-height: 30px;
    padding: 0 40px 40px 40px;
}

.line { 
    height: 4px;
    background: #dddddd;    
}

.myPhoto{
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

.inputText{
    width: 100%;
}

.textarea{
    width: 100%;
    height: 200px;
}

.button{ 
    background: #666666;
    color: white;
    border: 0 none;
    padding: 10px;
}

.portfolioPhoto{
    margin-right: 20px;
    margin-top: 20px;
    width: 300px;
}   

footer { 
    background: #666666;
    height: 50px;
    border-top: solid 10px #4AAAA5;
    text-align: center;
    font-size: 10px;
}

.copyright { 
    text-align: center;
    position: relative;
    bottom: -30px;
    width: 100%;
    font-size: 10px;
}